/* Sticky footer styles */
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 28px;
  padding-top: 0;
}

#footer {
  margin-top:10px;
  width: 100%;
  height: 18px;
  font-size:12px;
}


.h1 {
  text-align:center;
  margin-bottom: 42px; /* (@padding-base-vertical * 7) */
}

p {
  margin-bottom: 18px; /* a little more breathing room between feature tiles in mobile
view) */
}

a:not([href]) {
  color: inherit;
  text-decoration: inherit;
  font-weight: inherit
}

a:not([href]):hover {
  color: inherit;
  text-decoration: inherit;
  font-weight: inherit
}

@media screen and (min-width: 992px) {
  p {
    margin-bottom: 12px; /* reset to default */
  }
}

#info {
    font-size:32px;
    margin-bottom:0px;
}

#search-form {
    margin-bottom:20px;
}

#go {
    margin-bottom:20px;
}


#ttext {
    margin-top:20px;
    margin-bottom:30px;

}


.padded-button {
    margin-top:20px;
}


.button-row {
    text-align:center;
    margin-top:20px;
    margin-bottom:30px;
    margin-left:auto;
    margin-right:auto;
}

#fetch-tracks {
    margin-top:20px;
}

#fetch-tracks-ready {
    margin-top:20px;
}

h1 {
    text-align:center;
    font-size:64px;
    font-weight:lighter;
}

#fetching-tracks {
    text-align:center;
    width:80%;
    margin-left:auto;
    margin-right:auto;
}

.list-playlists {
    list-style: none;
}

.list-playlists .playlist {
    padding: 20px;
    background-color: #1bc156;
    color: #ffffff;
    font-size: 18pt;
    display: inline-block;
    width: 200px;
    height: 120px;
    margin-right: 50px;
}

.list-playlists .playlist:hover {
    background-color: #1ed760;
}

.list-playlists .playlist:last-child {
    margin-right: 0;
}
